@font-face{
    font-family: 'God';
    src: url(../fontes/GODOFWAR.TTF);
}
@font-face {
    font-family: 'Grega';
    src: url(../fontes/DalekPinpointBold.ttf);
}
@font-face {
    font-family: 'Monstro';
    src: url(../fontes/Greek-Freak.ttf);
}
@font-face {
    font-family: 'Normal';
    src: url(../fontes/fonte-yu-gi-oh.otf);
}